*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

   /*  BORDES DE TODO */
/*     outline: 2px solid lime; */
   /* #### FONDO SATURADO #### */
    /* background: hsl(0, 100%, 50% / .1); */

}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.5rem;
}

ul, ol{
    list-style: none;
}

a{
    display:block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p a{
    display: inline;
}

img, video, iframe, picture, figure{
    display:block;
    max-width: 100%;
}

form, input, select, textarea, button, label{
    display:block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
