$purple-50-color: hsl(260, 100%, 95%);
$purple-300-color: hsl(264, 82%, 80%);
$purple-400-color: hsl(264, 82%, 70%);
$purple-500-color: hsl(263, 55%, 52%);
$white-color: hsl(0, 0%, 100%);
$grey-100-color: hsl(214, 17%, 92%);
$grey-200-color: hsl(0, 0%, 81%);
$grey-300-color: hsl(215, 10%, 67%);
$grey-400-color: hsl(224, 10%, 45%);
$grey-500-color: hsl(217, 19%, 35%);
$dark-blue-color: hsl(219, 29%, 14%);
$black-color: hsl(0, 0%, 7%);
$grey-333-color: #333;

$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-100: .8rem;

$text-size-1: 3.6rem;
$text-size-2: 2.0rem;
$text-size-3: 1.3rem;
$text-size-4: 1.1rem;

$text-lh-1: 1.4;
$text-lh-2: 1.2;
$text-lh-3: 1.1;

